In [10]:
import pandas as pd
from datetime import datetime

In [11]:
%%time
df=pd.read_parquet("./table:國家標準站_每日_小時值,day:2020-08-15.parquet",columns=None)

CPU times: user 17.5 ms, sys: 5.29 ms, total: 22.8 ms
Wall time: 18.4 ms

In [15]:
%%time
df.to_parquet("output2.parquet",compression="gzip")

CPU times: user 27.4 ms, sys: 4.75 ms, total: 32.1 ms
Wall time: 31.3 ms

In [18]:
df['time'].astype(datetime)

TypeError: dtype '<class 'datetime.datetime'>' not understood

In [23]:
import numpy as np
np.datetime64('2018-04-01T15:30:00').astype("float64")

1522596600.0

In [7]:
import time
time.time()

1597562322.6825879

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1944 entries, 0 to 1943
Data columns (total 89 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   deviceId       1944 non-null   int64
 1   time           1944 non-null   datetime64[ns]
 2   lat            1944 non-null   float64
 3   lon            1944 non-null   float64
 4   amb_temp       1799 non-null   float64
 5   amb_temp_#     1944 non-null   int64
 6   amb_temp_*     1944 non-null   int64
 7   amb_temp_x     1944 non-null   int64
 8   aqi            1840 non-null   float64
 9   aqi_#          1944 non-null   int64
 10  aqi_*          1944 non-null   int64
 11  aqi_x          1944 non-null   int64
 12  ch4            911 non-null    float64
 13  ch4_#          1944 non-null   int64
 14  ch4_*          1944 non-null   int64
 15  ch4_x          1944 non-null   int64
 16  co             1823 non-null   float64
 17  co_#           1944 non-null   int64
 18  co_*           1944 non-null   int64
 19  co_x           1944 non-null   int64
 20  nmhc           911 non-null    float64
 21  nmhc_#         1944 non-null   int64
 22  nmhc_*         1944 non-null   int64
 23  nmhc_x         1944 non-null   int64
 24  no             1847 non-null   float64
 25  no2            1847 non-null   float64
 26  no2_#          1944 non-null   int64
 27  no2_*          1944 non-null   int64
 28  no2_x          1944 non-null   int64
 29  no_#           1944 non-null   int64
 30  no_*           1944 non-null   int64
 31  no_x           1944 non-null   int64
 32  nox            1847 non-null   float64
 33  nox_#          1944 non-null   int64
 34  nox_*          1944 non-null   int64
 35  nox_x          1944 non-null   int64
 36  o3             1799 non-null   float64
 37  o3_#           1944 non-null   int64
 38  o3_*           1944 non-null   int64
 39  o3_x           1944 non-null   int64
 40  ph_rain        456 non-null    float64
 41  ph_rain_#      1944 non-null   int64
 42  ph_rain_*      1944 non-null   int64
 43  ph_rain_x      1944 non-null   int64
 44  pm10           1845 non-null   float64
 45  pm10_#         1944 non-null   int64
 46  pm10_*         1944 non-null   int64
 47  pm10_x         1944 non-null   int64
 48  pm2_5          1846 non-null   float64
 49  pm2_5_#        1944 non-null   int64
 50  pm2_5_*        1944 non-null   int64
 51  pm2_5_x        1944 non-null   int64
 52  rain_cond      456 non-null    float64
 53  rain_cond_#    1944 non-null   int64
 54  rain_cond_*    1944 non-null   int64
 55  rain_cond_x    1944 non-null   int64
 56  rainfall       1823 non-null   float64
 57  rainfall_#     1944 non-null   int64
 58  rainfall_*     1944 non-null   int64
 59  rainfall_x     1944 non-null   int64
 60  rh             1799 non-null   float64
 61  rh_#           1944 non-null   int64
 62  rh_*           1944 non-null   int64
 63  rh_x           1944 non-null   int64
 64  so2            1847 non-null   float64
 65  so2_#          1944 non-null   int64
 66  so2_*          1944 non-null   int64
 67  so2_x          1944 non-null   int64
 68  thc            911 non-null    float64
 69  thc_#          1944 non-null   int64
 70  thc_*          1944 non-null   int64
 71  thc_x          1944 non-null   int64
 72  wd_hr          1751 non-null   float64
 73  wd_hr_#        1944 non-null   int64
 74  wd_hr_*        1944 non-null   int64
 75  wd_hr_x        1944 non-null   int64
 76  wind_direct    1749 non-null   float64
 77  wind_direct_#  1944 non-null   int64
 78  wind_direct_*  1944 non-null   int64
 79  wind_direct_x  1944 non-null   int64
 80  wind_speed     1749 non-null   float64
 81  wind_speed_#   1944 non-null   int64
 82  wind_speed_*   1944 non-null   int64
 83  wind_speed_x   1944 non-null   int64
 84  ws_hr          1751 non-null   float64
 85  ws_hr_#        1944 non-null   int64
 86  ws_hr_*        1944 non-null   int64
 87  ws_hr_x        1944 non-null   int64
 88  測站             1944 non-null   object
dtypes: datetime64[ns](1), float64(23), int64(64), object(1)
memory usage: 1.3+ MB

In [24]:
import pandas as pd

In [29]:
df1=[1,2,3]
df2=pd.DataFrame(df1)
df3=pd.DataFrame(df2)
df3

   0
0  1
1  2
2  3

In [30]:
import pandas as pd

In [32]:
df=pd.read_parquet("output.parquet")

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944 entries, 0 to 1943
Data columns (total 89 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ph_rain_#      1944 non-null   int64
 1   ws_hr_*        1944 non-null   int64
 2   wind_speed_*   1944 non-null   int64
 3   rh_x           1944 non-null   int64
 4   ch4_x          1944 non-null   int64
 5   rainfall       1823 non-null   float64
 6   rain_cond_#    1944 non-null   int64
 7   co_x           1944 non-null   int64
 8   no_#           1944 non-null   int64
 9   o3_*           1944 non-null   int64
 10  nox_*          1944 non-null   int64
 11  pm10           1845 non-null   float64
 12  amb_temp_#     1944 non-null   int64
 13  wind_speed_x   1944 non-null   int64
 14  lon            1944 non-null   float64
 15  ws_hr_#        1944 non-null   int64
 16  co_#           1944 non-null   int64
 17  no2_#          1944 non-null   int64
 18  thc            911 non-null    float64
 19  wind_direct_x  1944 non-null   int64
 20  wd_hr_x        1944 non-null   int64
 21  so2_*          1944 non-null   int64
 22  aqi            1840 non-null   float64
 23  ph_rain_*      1944 non-null   int64
 24  rainfall_x     1944 non-null   int64
 25  no_x           1944 non-null   int64
 26  aqi_*          1944 non-null   int64
 27  wind_direct    1749 non-null   float64
 28  thc_*          1944 non-null   int64
 29  pm2_5_x        1944 non-null   int64
 30  thc_#          1944 non-null   int64
 31  aqi_x          1944 non-null   int64
 32  o3_x           1944 non-null   int64
 33  rh_#           1944 non-null   int64
 34  aqi_#          1944 non-null   int64
 35  wd_hr_*        1944 non-null   int64
 36  thc_x          1944 non-null   int64
 37  lat            1944 non-null   float64
 38  ch4            911 non-null    float64
 39  測站             1944 non-null   object
 40  wind_speed     1749 non-null   float64
 41  rainfall_*     1944 non-null   int64
 42  so2_x          1944 non-null   int64
 43  no2_*          1944 non-null   int64
 44  ch4_#          1944 non-null   int64
 45  no             1847 non-null   float64
 46  pm10_#         1944 non-null   int64
 47  rain_cond      456 non-null    float64
 48  so2_#          1944 non-null   int64
 49  ws_hr_x        1944 non-null   int64
 50  wd_hr          1751 non-null   float64
 51  ws_hr          1751 non-null   float64
 52  nmhc_x         1944 non-null   int64
 53  pm10_*         1944 non-null   int64
 54  rh_*           1944 non-null   int64
 55  ch4_*          1944 non-null   int64
 56  no_*           1944 non-null   int64
 57  deviceId       1944 non-null   int64
 58  ph_rain        456 non-null    float64
 59  co             1823 non-null   float64
 60  pm2_5          1846 non-null   float64
 61  rain_cond_x    1944 non-null   int64
 62  nox            1847 non-null   float64
 63  o3             1799 non-null   float64
 64  wind_direct_#  1944 non-null   int64
 65  nmhc_*         1944 non-null   int64
 66  wd_hr_#        1944 non-null   int64
 67  rain_cond_*    1944 non-null   int64
 68  pm2_5_*        1944 non-null   int64
 69  no2            1847 non-null   float64
 70  nmhc_#         1944 non-null   int64
 71  amb_temp_*     1944 non-null   int64
 72  wind_speed_#   1944 non-null   int64
 73  pm10_x         1944 non-null   int64
 74  time           1944 non-null   datetime64[ns]
 75  co_*           1944 non-null   int64
 76  rainfall_#     1944 non-null   int64
 77  so2            1847 non-null   float64
 78  nox_x          1944 non-null   int64
 79  wind_direct_*  1944 non-null   int64
 80  ph_rain_x      1944 non-null   int64
 81  nmhc           911 non-null    float64
 82  amb_temp       1799 non-null   float64
 83  nox_#          1944 non-null   int64
 84  pm2_5_#        1944 non-null   int64
 85  amb_temp_x     1944 non-null   int64
 86  no2_x          1944 non-null   int64
 87  o3_#           1944 non-null   int64
 88  rh             1799 non-null   float64
dtypes: datetime64[ns](1), float64(23), int64(64), object(1)
memory usage: 1.3+ MB

In [34]:
df

,ph_rain_#,ws_hr_*,wind_speed_*,rh_x,ch4_x,rainfall,rain_cond_#,co_x,no_#,o3_*,...,wind_direct_*,ph_rain_x,nmhc,amb_temp,nox_#,pm2_5_#,amb_temp_x,no2_x,o3_#,rh
0,0,0,0,0,0,3.0,0,0,0,0,...,0,0,0.10,25.4,0,0,0,0,0,95.4
1,0,0,0,0,0,0.4,0,0,0,0,...,0,0,0.09,25.4,0,0,0,0,0,93.1
2,0,0,0,0,0,0.0,0,0,0,0,...,0,0,0.17,25.7,0,0,0,0,0,92.2
3,0,0,0,0,0,0.0,0,0,0,0,...,0,0,0.08,25.2,0,0,0,0,0,85.6
4,0,0,0,0,0,0.0,0,0,0,0,...,0,0,0.06,25.2,0,0,0,0,0,75.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939,0,0,0,0,0,NaN,0,0,0,0,...,0,0,NaN,NaN,0,0,0,0,0,NaN
1940,0,0,0,0,0,NaN,0,0,0,0,...,0,0,NaN,NaN,0,0,0,0,0,NaN
1941,0,0,0,0,0,NaN,0,0,0,0,...,0,0,NaN,NaN,0,0,0,0,0,NaN
1942,0,0,0,0,0,NaN,0,0,0,0,...,0,0,NaN,NaN,0,0,0,0,0,NaN
1943,0,0,0,0,0,NaN,0,0,0,0,...,0,0,NaN,NaN,0,0,0,0,0,NaN

In [35]:
df['測站']

0            前鎮測站
1            前鎮測站
2            前鎮測站
3            前鎮測站
4            前鎮測站
          ...
1939    桃園市新興國小測站
1940    桃園市新興國小測站
1941    桃園市新興國小測站
1942    桃園市新興國小測站
1943    桃園市新興國小測站
Name: 測站, Length: 1944, dtype: object